@media (max-width:690px){
    .fixed{
        display: block;
        background-color:  rgb(33,33,33);
        position: relative;
    }
    .intro{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index:;
       
    }
    .left-intro{
        position: relative;
       
    }
    .right-intro{
        position: relative;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
      
    }
    .search{
        display:flex;
        flex-wrap: wrap;
    }
    .menu{
        display: block;
    }
    .menu h3{
        display: flex;
        justify-content: center;
        
    }
    .sub-cointainer{
       display: block;
       padding:0;
    }
    .sub-cointainer div img{
        height: 200px;
        /* width: 300px; */
        justify-content: center;
    }
    .signup{
        padding: 10px;
    }
    .social{
        padding: 10px;
    }
    .info{
        display: block;
        
    }
    .info div{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }
}
